* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 100vh;
}

#chat {
    flex-grow: 9;
    overflow-y: scroll;
    border: 1px solid black;
    height: 90%;
    padding: 1rem;
}

#botones-arriba {
    flex-grow: 1;
}

section {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
}

#mensaje {
    padding: .2rem;
    flex-grow: 7;
}

#chatear, #insertar-imagen {
    flex-grow: 1;
}

.respuesta-chat {
    color: blue;
}