* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background-color: gray;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    height: 100vh;
    grid-template-areas: 
    "botones-arriba botones-arriba"
    "chat salas"
    "inputs inputs";
    grid-template-columns: 7fr 1fr;
    grid-template-rows: auto 1fr auto;
}

#chat {
    grid-area: chat;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
}

#botones-arriba {
    grid-area: botones-arriba;
    height: fit-content;
}

#botones-arriba > * {
    border: 1px solid black;
    padding: .2rem;
}

#salas {
    grid-area: salas;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #696969;
}

.salas {
    background-color: white;
    height: 2rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.salas:hover {
    background-color: #b6b6b6;
}

#inputs {
    grid-area: inputs;
    display: flex;
    gap: 1rem;
}

#mensaje {
    border: 1px solid black;
    padding: .2rem;
    flex-grow: 7;
}

#chatear, #insertar-imagen {
    border: 1px solid black;
    flex-grow: 1;
}

.respuesta-chat {
    color: blue;
}

button:hover {
    background-color: #b6b6b6;
    cursor: pointer;
}