* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    height: 100vh;
    grid-template-areas: 
    "botones-arriba botones-arriba"
    "chat salas"
    "inputs inputs";
    grid-template-columns: 7fr 1fr;
    grid-template-rows: auto 1fr auto;
}

#chat {
    grid-area: chat;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 1rem;
}

#botones-arriba {
    grid-area: botones-arriba;
    height: fit-content;
}

#salas {
    grid-area: salas;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.salas {
    height: 3rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

#inputs {
    grid-area: inputs;
    display: flex;
    gap: 1rem;
}

#mensaje {
    padding: .2rem;
    flex-grow: 7;
}

#chatear, #insertar-imagen {
    flex-grow: 1;
}

.respuesta-chat {
    color: blue;
}